/***************************************
 * GLOBAL PROPERTIES
 ***************************************/
body{
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	background-color: black;
}

@media all and (display-mode: standalone) {
  body {
    background-color: rgba(0,0,0,0.75);
  }
}

/***************************************
 * HEADER BAR
 ***************************************/

.header-bar {
  align-content: center;
  align-items: stretch;
  background: rgba(255,255,255,0.1);
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  height: 40px;
  justify-content: flex-start;
  padding: 16px 16px 0 16px;
  position: fixed;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

.header-bar h1 {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.header-bar button {
  border: none;
  cursor: pointer;
  height: 24px;
  margin-right: 30px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -30000px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 24px;
}

.header-bar #btnInstall {
  background: url(http://aaronguzman.com/webcomics/hourglass/icons/ag-logo-white-red.svg) center center no-repeat;
}

.header-bar {
  color: white;
  font-size: 0.6em;
  text-decoration: none;
}

.container-presentation{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding:0;

}

.section-header{
	display: none;
}

.section-title{

}

.section-heading{

}

.section-display{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	max-width: 800px;

}

.section-controls{

}

.view-menu-wrapper{
	margin:60px 0px;
}

.cpanel-wrapper{

}

.view-panel{

}

.wrapper-buttons{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	text-align: center;
}

.control-panel-button{
	display: block;
	width: 100%;
	height: 40px;
	margin: 5px auto;
	padding: 5px;
	text-decoration: none;
	color: rgba(240,240,240,.5);
	background-color: rgba(0,0,0,.5);
}

.control-panel-button .a{
	padding: 5px;
	color: rgba(0,0,0,1);
}

.menu-block{

}

.menu{

}

.menu-wrapper{

}

.menu-item-trigger{

}

.displaystage{
	width: 100%;
	height: 90vh;
}

.display-stage-wrapper{
	max-width:100%;
}

#mainstage{
	max-height: 800px;
}

/***************************************
 * MEDIA QUERIES
 ***************************************/



@media screen
    and (max-width: 479px){

  }
  /* iPhone 6/7/8 */
  @media only screen
    and (max-device-width: 667px)
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

  }
